.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 20px;
  background-color: #1e1e2f;
  color: white;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2e2e3e;
  border-bottom: 1px solid #3e3e4e;
}

.locationInfo {
  font-size: 0.9rem;
  color: #aaaaaa;
  margin-right: 20px;
}

.signOutButton {
  background-color: #ff5555;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.chatBox {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #2e2e3e;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #3e3e4e;
  display: flex;
  flex-direction: column;
}

.userMessage,
.botMessage {
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 1rem;
}

.userMessage {
  text-align: left;
  background-color: #4caf50;
  color: white;
  margin-left: auto;
}

.botMessage {
  text-align: left;
  background-color: #555770;
  color: white;
  margin-right: auto;
}

.input {
  padding: 15px;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid #3e3e4e;
  background-color: #2e2e3e;
  color: white;
  outline: none;
  width: 100%;
}

.sendButton {
  padding: 15px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}